<html xmlns="http://www.w3.org/2000/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Fincayra - Simple Template</title>
<link rel="stylesheet" href="/css/main.css" type="text/css"/>
<script type="text/javascript" src="/js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="/js/json2.js"></script>
<script type="text/javascript" src="/js/date.js"></script>
<script type="text/javascript" src="/js/utils.js"></script>
<script type="text/javascript" src="/js/jquery.jqote2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.13.min.js"></script>
<script type="text/javascript" src="/js/jquery.layout-latest.js"></script>
<script type="text/javascript" src="/js/jquery.printElement.min.js"></script>
</head>
<body>
<div id="header">
	<div class="container">
		<h1><a id="logo_link" href="#"></a></h1>
		<div id="inner">
			<div id="navigation"></div>
			<div id="sign_nav"></div>
		</div>
	</div>
</div>
<div id="page">
	<div id="feedback" class="container"></div>
	<div id="content" class="container">
	</div>
</div>
</body>
</html>
