<html xmlns="http://www.w3.org/2000/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="/js/markitup/skins/simple/style.css" />
<link rel="stylesheet" type="text/css" href="/js/markitup/sets/markdown/style.css" />
<link rel="stylesheet" href="/css/sunburst.css" type="text/css"/>
<script type="text/javascript" src="/js/highlight.min.js"></script>
<script type="text/javascript" src="/js/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/js/markitup/sets/markdown/set.js"></script>
<script type="text/javascript" src="/js/showdown.js"></script>
<script type="text/javascript" src="/js/jquery.toc-1.1.1.js"></script>
<script type="text/javascript" src="/js/jquery.jstree.js"></script>
<script type="text/javascript" src="/js/notebook-app.js"></script>
</head>
<body>
	<div id="organize_noteBooks" style="display:none; text-align:left;"></div>
	<script type="text/html" id="entry_tmpl">
	  <![CDATA[
		<div class="entry" id="<%= this.id %>">
			<div class="entry-header">
				<span class="entry_expand ui-icon ui-icon-plus icon-button" style="display:none" title="Expand Entry"></span>
				<span class="entry_collapse ui-icon ui-icon-minus icon-button tip" title="Collapse Entry"></span>
				<span class="entry_edit ui-icon ui-icon-pencil icon-button tip" title="Edit Entry"></span>
				<span class="entry_toc ui-icon ui-icon-bookmark icon-button tip" title="Toggle Table of Contents"></span>
				<span class="entry_print ui-icon ui-icon-print icon-button tip" title="Print Entry"></span>
				<span class="entry_email ui-icon ui-icon-mail-closed icon-button tip" title="Email Entry"></span>
				<span class="entry-title"><%= this.title%></span>
				<span class="entry_delete ui-icon ui-icon-trash icon-button" title="Delete Entry"></span>
				<span class="date">Created: <%= this.date %></span>
			</div>
			<div class="entry-toc" style="display:none"></div>
			<div class="entry-body"></div>
		</div>
	  ]]>
	</script>
	<div id="dialog_confirm" title="Delete Item" style="display:none;">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 0 10px 0;"></span><span id="confirm_message">This item will be permanently deleted and cannot be recovered. Are you sure?</span></p>
	</div>
	<div id="notebooks-app" style="height:100%">
		<div class="ui-layout-center">
			<div class="ui-layout-header" id="notebooks_app_header">
				<div id="notebook_name_box" class="stylized thin level1" style="display:none;">
					<form id="notebook_name_form" style="display:none;">
						<input type="text" class="text" name="name" id="notebook_name_edit" autocomplete="off"/>
						<button id="notebook_ok">OK</button><button id="notebook_cancel">Cancel</button>
					</form>
					<p id="notebook_name_display" style="display:none;">
						<span id="notebook_name" title="Click to edit"></span>
						<span id="notebook_delete" class="ui-icon ui-icon-trash icon-button" title="Delete NoteBook"></span>
					</p>
				</div>
				<div id="topic_name_box" class="stylized thin" style="display:none;">
					<form id="topic_name_form" style="display:none;">
						<input type="text" class="text" name="name" id="topic_name_edit" autocomplete="off"/>
						<button id="topic_ok">OK</button><button id="topic_cancel">Cancel</button>
					</form>
					<p id="topic_name_display" style="display:none;">
						<span id="topic_name" title="Click to edit" class="tip"></span>
						<span id="topic_expand" class="ui-icon ui-icon-plus icon-button tip" title="Expand all Entries [Shift+down]"></span>
						<span id="topic_collapse" class="ui-icon ui-icon-minus icon-button tip" title="Collapse loaded Entries and load more [Shift+up]"></span>
						<span id="topic_toc" class="ui-icon ui-icon-bookmark icon-button tip" title="Toggle Table of Contents for all Entries [Ctrl+i]"></span>
						<span id="new_entry" class="ui-icon ui-icon-document icon-button tip" title="Add an Entry [Ctrl+e]"></span>
						<span id="markdown_help" class="ui-icon ui-icon-help icon-button tip" title="Toggle Markdown Help [Ctrl+h]"></span>
						<span id="topic_delete" class="ui-icon ui-icon-trash icon-button" title="Delete Topic"></span>
					</p>
				</div>
			</div>
			<div class="ui-layout-content" id="notebook_container">
				<div class="help" style="display:none">
					<div class="help-toc"></div>
					<div class="help-body"></div>
				</div>
				<div id="entries">
				</div>
				<div id="entry_editor" style="display:none;">
					<textarea id="markdown" rows="20" style="width:98%; height:400px;"></textarea>
				</div>
			</div>
		</div>
		<div class="ui-layout-west">
			<div class="ui-layout-header">
				<div class="stylized thin level1 ui-layout-header">
					<p>
					<a href="#" id="new_notebook"><span class="ui-icon ui-icon-note icon-button tip-sw" title="New NoteBook [Ctrl+b]"></span></a>
					<a href="#" id="organize_notebooks"><span class="ui-icon ui-icon-gear icon-button tip-sw" title="Organize NoteBooks [Ctrl+o]"></span></a>
					</p>
				</div>
				<div class="stylized thin-grow level1 ui-layout-header">
					<form id="search_form">
						<input placeholder="Search Entries..." type="text" class="text" title="Type your search terms and press Enter." name="search_field" id="search_field"/>
						<input type="submit" style="display:none;"/>
					</form>
					<div class="spacer"></div>
					<div id="search_results" style="display:none;">
						<h4><span class="ui-icon ui-icon-triangle-1-n" id="search_results_toggle" style="float:right;"></span><span id="search_results_count"></span></h4>
						<ul id="search_entries" style="display:none;"></ul>
					</div>
					<div class="spacer"></div>
				</div>
			</div>
			<div id="notebook_list" class="ui-layout-content">
			</div>
		</div>
	</div>
</body>
</html>
