<html xmlns="http://www.w3.org/2000/xhtml">
<head>
<link rel="stylesheet" href="/css/smoothness/jquery-ui-1.8.13.custom.css" type="text/css"/>
<link rel="stylesheet" type="text/css" href="/js/markitup/skins/simple/style.css" />
<link rel="stylesheet" type="text/css" href="/js/markitup/sets/markdown/style.css" />
<link rel="stylesheet" href="/css/github.css" type="text/css"/>
<script type="text/javascript" src="/js/highlight.min.js"></script>
<script type="text/javascript" src="/js/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/js/markitup/sets/markdown/set.js"></script>
<script type="text/javascript" src="/js/showdown.js"></script>
<script>
var spinnerOpts = {position:'center',img:'/js/spinner.gif'};

function getNoteBooks() {
	$.getJSON(fincayra.getNoteBooks,function(data) {
		fincayra.noteBook = undefined;
		fincayra.noteBooks = {};
		
		$.each(data.results, function(key, val) {
			fincayra.noteBooks[val.uuid] = val;
		});
				
		$('#notebook_list').accordion("destroy");

		$('#notebook_name_box').hide();
		
		displayNoteBooks();
	});
}

function saveNoteBook(noteBook) {
	var type = (noteBook.uuid)?"POST":"PUT";
	$.ajax({
		type: type,
		url: fincayra.saveNoteBook,
		data: JSON.stringify(noteBook),
		success: function(data) {
			$log("NoteBook returned from save!",data);
			fincayra.noteBooks[data.uuid] = data;
			fincayra.noteBook = fincayra.noteBooks[data.uuid];
			if (type == "PUT") fincayra.topic = undefined;
		},
		dataType: 'json'
	});
}

function saveTopic(topic) {
	var type = (topic.uuid)?"POST":"PUT";
	$.ajax({
		type: type,
		url: fincayra.saveTopic,
		data: JSON.stringify(topic),
		success: function(data) {
			fincayra.topic = data;
			fincayra.topics[topic.uuid] = data;
		},
		dataType: 'json'
	});
	
	return fincayra.topic;
}

function parseMD(text) {
	return fincayra.showdown.makeHtml(text);
}

function getEntries() {
	var entries = $('#entries');
	entries.html('');
	entries.spinner(spinnerOpts);
	fincayra.entry = undefined;
	$.getJSON(fincayra.getEntries.tokenize(fincayra.topic.uuid),function(data) {
		$.each(data.results, function(key, val) {
			var entry = getEntryElement(val);
			entries.append(entry);
		});
		highlight();
	});
	entries.spinner('remove');
}

function highlight() {
	$('pre code').each(function(i, e) {hljs.highlightBlock(e, '    ')});
}

function getEntryElement(entry) {
	var jqo = $('#' + entry.uuid);
	if (jqo.length == 0) {
		var date = new Date(entry.createDate).format("EE MMM d, yyyy h:mm a");
		var html = $("#entry_tmpl").jqote({
			id:entry.uuid,
			date: date
		});
		jqo = $(html);
	}
	var html = parseMD(entry.text);
	jqo.find('.entry-body').html(html);
	$log("jqo=" + $("#entry_tmpl").text());
	return jqo.data({object:entry, html:html});
}

function $log(message, obj) {
	if (fincayra.dev && window.console) {
		console.log(message);
		if (obj) console.log(JSON.stringify(obj, null, "   "));
	}
}

function saveEntry() {
	var type;
	if (fincayra.entry.uuid) {
		type = "POST";
	} else {
		type = "PUT";
	}
	fincayra.entry.text = $('#markdown').val();
	//fincayra.editor.detach();
	var entry;
	$log("saving entry:",fincayra.entry);
	$.ajax({
		type: type,
		url: fincayra.saveEntry,
		data: JSON.stringify(fincayra.entry),
		success: function(data) {
			entry = data;
			$log("Entry returned from save!",entry);
			var el = $('#' + data.uuid);
			if (el.length == 0) {
				fincayra.entry = entry;
				el = getEntryElement(entry);
				el.css({display:"none"});
				$log("Appending entry", el.html());
				$('#entries').prepend(el);
			}
			$('.saveButton a').css({'backgroundImage':'url(/js/markitup/sets/markdown/images/disk-saved.png)'});
		},
		dataType: 'json'
	});
	
	return entry;
}

function closeEntry() {
	if (fincayra.entry && fincayra.entry.uuid) {
		getEntryElement(fincayra.entry).show();
	} else {
		fincayra.entry = undefined;
	}
	
	fincayra.editor.detach();
	highlight();

}

function getTopics(uuid) {
	var topics = [];
	fincayra.topics = {};
	$.getJSON(fincayra.getTopics.tokenize(uuid),function(data) {
		$.each(data.results, function(key, val) {
			fincayra.topics[val.uuid] = val;
			topics.push(val);
		});
	});
	return topics;
}
function displayTopic(topic) {
	$.getJSON(fincayra.setLastTopic.tokenize(topic.id));
	fincayra.topic = topic;
	$('#topic_name_box').show();
	$('#topic_name').html(fincayra.topic.name);
	$('#topic_name_display').show();
	$('#topic_name_edit').val(fincayra.topic.name);
	$('#topic_name_form').hide();
	getEntries();
	return fincayra.topic;
}

function hideTopic() {
	$('#topic_name_box').hide();
	$('#entries').html('');
	$('#entry_editor').detach();
}

function displayNoteBooks() {
	//Get the notebook data
	var items = [];
	$.each(fincayra.noteBooks, function(key, val) {
		items.push('<h3><a href="#" id="{}">{}</a></h3><div></div>'.tokenize(key,val.name));
	});
	
	
	$('#notebook_list').html(items.join('')).accordion({
		active:false,
		header:'h3',
		changestart:function(event, ui) {
			var uuid = ui.newHeader.find('a').attr('id');
			fincayra.noteBook = fincayra.noteBooks[uuid];
			if (fincayra.noteBook) {
				$('#entries').html('');
				hideTopic();
				$('#notebook_name_form').hide();
				$('#notebook_name_box').show();
				$('#notebook_name').html(fincayra.noteBook.name);
				$('#notebook_name_display').show();
				
				var topics = [];
				topics.push('<div class="controls stylized thin"><p><a href="#" title="Add a Topic" class="new-topic new-link"><span class="ui-icon ui-icon-folder-collapsed icon-button"></span>Create a new Topic...</a></p></div>');
				$.each(getTopics(uuid), function(key, val) {
					topics.push('<p><a href="#" id="{}" class="topic-link">{}</a></p>'.tokenize(val.uuid,val.name));
				});
				ui.newContent.html(topics.join(''));
				
				ui.newContent.find('.new-topic').click(function() {
					fincayra.topic = undefined;
					hideTopic();
					$('#topic_name_box').show();
					$('#topic_name_display').hide();
					$('#topic_name_form').show();
					$('#topic_name_edit').val("New Topic").select().focus();
					return false;
				});
			}
		},
		autoHeight: false,
		collapsible: true
	});
}

function displayNoteBook(noteBook) {
	fincayra.noteBook = noteBook;
	$('#notebook_list').accordion("activate",$("#" + noteBook.uuid).parent());
};


function confirmDelete(title, message, okCallback) {
	var confirm = $("#dialog_confirm").attr("title", title);
	$("#confirm_message").html(message);
	confirm.dialog({
		resizable: false,
		height:160,
		width:400,
		modal: true,
		buttons: {
			OK: function() {
				okCallback();
				$( this ).dialog( "close" );
				$( this ).dialog( "destroy" );
			},
			Cancel: function() {
				$( this ).dialog( "close" );
				$( this ).dialog( "destroy" );
			}
		}
	});	
};

$(document).ready(function () {
	//Set up converter
	fincayra.showdown = new Showdown.converter();
	
	//No asynch
	$.ajaxSetup({async:false,contentType:"application/json"});
	
	//setup the layout
	$('#notebooks-app').layout({
		defaults : {
			applyDefaultStyles: true,
			contentSelector:".ui-layout-content"
		},
		
		west : {
			slidable: true,
			size: 260,
			onresize: function () {
				$('#notebook_list').accordion('resize');
			}
		}
	});
	
	//disable submit
	$('#notebooks-app').find('form').each(function() {
		$(this).submit(function() {return false;});
	});
	
	//store the editor and detach it
	var markDownEditor = $('#markdown');
	markDownEditor.live("keypress", function(e) {
		var c = e.charCode;
		if ((c == 32 || c == 8 || c == 46 || c == 13) || fincayra.entry.text != markDownEditor.val()) {
			$('.saveButton a').css({'backgroundImage':'url(/js/markitup/sets/markdown/images/disk.png)'});			
		} else {
			$('.saveButton a').css({'backgroundImage':'url(/js/markitup/sets/markdown/images/disk-saved.png)'});
		}
	});
	markDownEditor.markItUp(mySettings);
	markDownEditor.live("dblclick", closeEntry);
	fincayra.editor = $('#entry_editor').detach();
	
	//display the notebooks
	displayNoteBooks();

	//event handlers
	$('#new_notebook').click(function(event) {
		fincayra.noteBook = undefined;
		fincayra.topic = undefined;
		hideTopic();
		$('#notebook_list').accordion('activate', false);
		$('#notebook_name_box').show();
		$('#topic_name_box').hide();
		$('#notebook_name_display').hide();
		$('#notebook_name_form').show();
		$('#notebook_name_edit').val("New NoteBook").select().focus();
		return false;
	});
	
	$('#notebook_name').click(function() {
		$('#notebook_name_box').show();
		$('#notebook_name_display').hide();
		$('#notebook_name_edit').val(fincayra.noteBook.name);
		$('#notebook_name_form').show();
		$('#notebook_name_edit').focus();
		return false;
	});
	
	$('#notebook_delete').click(function() {
		confirmDelete("Delete NoteBook", 'Do you realy want to delete "{}"?'.tokenize(fincayra.noteBook.name),
		function() {
			$.ajax({
				type: "DELETE",
				url: fincayra.deleteNoteBook.tokenize(fincayra.noteBook.id),
				success: function(data) {
					getNoteBooks();
					hideTopic();
				},
				dataType: 'json'
			});
		});		
	});
	
	$('#notebook_ok').click(function() {
		if (fincayra.noteBook) {
			var noteBook = {};
			$.extend(noteBook,fincayra.noteBook);
			noteBook.name = $('#notebook_name_edit').val();
			saveNoteBook(noteBook);
			$('#' + noteBook.uuid).html(fincayra.noteBook.name);
			$('#notebook_name').html(fincayra.noteBook.name);
			$('#notebook_name_display').show();
			$('#notebook_name_form').hide();
		} else {
			var noteBook = {name:$('#notebook_name_edit').val(),owner:fincayra.user};
			saveNoteBook(noteBook);
			$.extend(noteBook,fincayra.noteBook);
			getNoteBooks();
			displayNoteBook(noteBook);
		}
		return false;
	});
	
	$('#notebook_cancel').click(function() {
		if (fincayra.noteBook) {
			$('#notebook_name').html(fincayra.noteBook.name);
			$('#notebook_name_display').show();
			$('#notebook_name_edit').val(fincayra.noteBook.name);
			$('#notebook_name_form').hide();
		} else {
			$('#notebook_name_box').hide();
		}
		return false;
	});
	

	//bind click to all topics, now and in future
	$('.topic-link').live('click',function() {
		uuid = $(this).attr("id");
		displayTopic(fincayra.topics[uuid]);
		return false;
	});
	
	$('#topic_name').click(function() {
		$('#topic_name_box').show();
		$('#topic_name_display').hide();
		$('#topic_name_edit').val(fincayra.topic.name);
		$('#topic_name_form').show();
		$('#topic_name_edit').focus();
		return false;
	});

	$('#topic_ok').click(function() {
		if (fincayra.topic) {
			var topic = {};
			$.extend(topic,fincayra.topic);
			topic.name = $('#topic_name_edit').val();
			saveTopic(topic);
			$('#' + topic.uuid).html(fincayra.topic.name);
			$('#topic_name').html(fincayra.topic.name);
			$('#topic_name_display').show();
			$('#topic_name_form').hide();
		} else {
			var topic = {name:$('#topic_name_edit').val(),owner:fincayra.user,noteBook:fincayra.noteBook};
			topic = saveTopic(topic);
			getNoteBooks();
			$('#notebook_list').accordion("activate",$("#" + topic.noteBook.uuid).parent());
			displayTopic(topic);
		}
		return false;
	});
	
	$('#topic_cancel').click(function() {
		if (fincayra.topic) {
			$('#topic_name').html(fincayra.topic.name);
			$('#topic_name_display').show();
			$('#topic_name_edit').val(fincayra.noteBook.name);
			$('#topic_name_form').hide();
		} else {
			hideTopic();
		}

		return false;
	});
	
	$('#topic_delete').click(function() {
		confirmDelete("Delete Topic", 'Do you realy want to delete "{}"?'.tokenize(fincayra.topic.name),
		function() {
			$.ajax({
				type: "DELETE",
				url: fincayra.deleteTopic.tokenize(fincayra.topic.id),
				success: function(data) {
					fincayra.topic = undefined;
					uuid = fincayra.noteBook.uuid;
					getNoteBooks();
					$('#notebook_list').accordion("activate",$("#" + uuid).parent());
					$('#topic_name_box').hide();
				},
				dataType: 'json'
			});
		});		
	});
	
	$('#new_entry').live('click',function() {
		closeEntry();
		fincayra.entry = {owner:fincayra.user,topic:fincayra.topic};
		$('#entries').prepend(fincayra.editor);
		fincayra.editor.show();
		$('#markdown').val('').focus();
		return false;
	});
	
	$('.entry_delete').live("click", function() {
		var el = $(this).parents(".entry");
		var entryId = el.data("object").id;
		confirmDelete("Delete Entry", 'Do you realy want to delete this Entry?',
		function() {
			$.ajax({
				type: "DELETE",
				url: fincayra.deleteEntry.tokenize(entryId),
				success: function(data) {
					el.remove();
				},
				dataType: 'json'
			});
		});		
	});

	$('.entry a').live('click', function(e) {
		e.stopPropigation();
		return true;
	});
	
	$('.entry').live('dblclick',function() {
		closeEntry();
		$(this).before(fincayra.editor);
		$(this).hide();
		fincayra.editor.show();
		fincayra.entry = $(this).data('object');
		$('#markdown').val(fincayra.entry.text).focus();
		return false;
	});
	
	$('.entry_print').live("click", function() {
		var el = $(this).parents(".entry");
		//TODO create entryView object to handle finding the element from child and other stuff
		el.printElement();
	});
	
	//show the lastTopic
	$.getJSON(fincayra.getLastTopic,function(data) {
		var topic = data.topic;
		if (topic) {
			$log("Display last topic: ", topic);
			displayNoteBook(topic.noteBook);
			displayTopic(topic);
		}
	});
});
</script>
</head>
<body>
	<script type="text/html" id="entry_tmpl">
	  <![CDATA[
		<div class="entry" id="<%= this.id %>">
			<div class="entry-header">
				<span class="date"><%= this.date %></span>
				<span class="entry_delete ui-icon ui-icon-trash icon-button" title="Delete Entry"></span>
				<span class="entry_print ui-icon ui-icon-print icon-button" title="Print Entry"></span>
			</div>
			<div class="entry-body"></div>
		</div>
	  ]]>
	</script>
	<div id="dialog_confirm" title="Delete Item" style="display:none;">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 0 10px 0;"></span><span id="confirm_message">This item will be permanently deleted and cannot be recovered. Are you sure?</span></p>
	</div>
	<div id="notebooks-app" style="height:100%">
		<div class="ui-layout-center">
			<div class="ui-layout-header">
				<div id="notebook_name_box" class="stylized thin level1" style="display:none;">
					<form id="notebook_name_form" style="display:none;">
						<input type="text" class="text" name="name" id="notebook_name_edit" autocomplete="off"/>
						<button id="notebook_ok">OK</button><button id="notebook_cancel">Cancel</button>
					</form>
					<p id="notebook_name_display" style="display:none;">
						<span id="notebook_name" title="Click to edit"></span>
						<span id="notebook_delete" class="ui-icon ui-icon-trash icon-button" title="Delete NoteBook"></span>
					</p>
				</div>
				<div id="topic_name_box" class="stylized thin" style="display:none;">
					<form id="topic_name_form" style="display:none;">
						<input type="text" class="text" name="name" id="topic_name_edit" autocomplete="off"/>
						<button id="topic_ok">OK</button><button id="topic_cancel">Cancel</button>
					</form>
					<p id="topic_name_display" style="display:none;">
						<span id="topic_name" title="Click to edit"></span>
						<span id="topic_delete" class="ui-icon ui-icon-trash icon-button" title="Delete Topic"></span>
						<span id="new_entry" class="ui-icon ui-icon-document icon-button" title="Add an Entry"></span>
					</p>
				</div>
			</div>
			<div class="ui-layout-content">
				<div id="entries">
				</div>
				<div id="entry_editor" style="display:none;">
					<textarea id="markdown" rows="20" style="width:98%; height:400px;"></textarea>
				</div>
			</div>
		</div>
		<div class="ui-layout-west">
			<div class="controls stylized thin level1 ui-layout-header">
				<p>
				<a href="#" id="new_notebook" class="new-link" title="Create a new NoteBook"><span id="entry_add" class="ui-icon ui-icon-note icon-button"></span>Create a new NoteBook...</a>
				</p>
			</div>
			<div id="notebook_list" class="ui-layout-content">
			</div>
		</div>
	</div>
</body>
</html>
