<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <!-- TODO We should change this at startup with the name of the app -->
  <display-name>Fincayra</display-name>
	<filter>
		<filter-name>FincayraFilter</filter-name>
		<filter-class>org.innobuilt.fincayra.FincayraFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FincayraFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>
