<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <!-- TODO We should change this at startup with the name of the app -->
  <display-name>Fincayra</display-name>

  <!--
    This parameter provides the fully-qualified name of a class that implements
    the o.m.web.jcr.spi.RepositoryProvider interface.  It is required
    by the ModeShapeJcrDeployer that controls the lifecycle for the ModeShape REST server.
  -->
  <context-param>
    <param-name>org.modeshape.web.jcr.REPOSITORY_PROVIDER</param-name>
    <param-value>org.innobuilt.fincayra.persistence.FincayraRepositoryProvider</param-value>
  </context-param>
  <!--
    This parameter, specific to the ModeShapeJcrRepositoryProvider implementation, specifies
    the name of the configuration file to initialize the repository or repositories.
    This configuration file must be on the classpath and is given as a classpath-relative
    directory.
  -->
	<context-param>
		<param-name>org.modeshape.web.jcr.JCR_URL</param-name>
		<param-value>file:/configRepository.xml</param-value>
	</context-param>
  <!-- Required parameter for ModeShape REST - should not be modified -->

  <listener>
    <listener-class>org.innobuilt.fincayra.ApplicationDeployer</listener-class>
  </listener>
  <filter>
		<filter-name>FincayraFilter</filter-name>
		<filter-class>org.innobuilt.fincayra.FincayraFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FincayraFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
